#entry-calendar .calendar-wrapper {
    font-family: 'Lato', sans-serif;
    padding: 0px;
    margin: 0px;

}

#entry-calendar .calendar-wrapper table {
    border-collapse: collapse;
    border-spacing: 0;
    border-radius: 12px;
    background-color: #ffffff;
    width: 100%;
}

#entry-calendar .calendar-wrapper table thead tr {
    font-size: 1.2em;
    background-color: #CB5C20 !important;
    color: #ffffff;
}

#entry-calendar .calendar-wrapper table tbody tr.days {
    font-weight:normal;

}
#entry-calendar .calendar-wrapper table tbody tr td {
    width: calc(100% / 7);
    text-align: none;
    vertical-align: none;
    font-size: 1em;
    padding: 2px 2px !important;
}


#entry-calendar .calendar-wrapper table tbody tr td {
    vertical-align: none;
    height: 100%;
}


/* ------- Post Word Count -------- */
#entry-calendar .calendar-wrapper table tbody tr td.event {
    cursor: pointer;
    position: relative;
}

#entry-calendar .calendar-wrapper table tbody tr td.event {
    background-color: none !important;

}




#entry-calendar .calendar-wrapper table tbody tr td.today {
    position: relative;
}

#entry-calendar .calendar-wrapper table tbody tr td.today:after {
    background: #20A4CB;
    border-radius: 25%;
    bottom: .2em;
    display: block;
    content: '';
    height: .2em;
    left: 50%;
    margin: -.25em 0 0 -.25em;
    position: absolute;
    width: .5em;
}

#entry-calendar .calendar-wrapper table tbody tr td.event.today:after{
    background:lightgrey;
}
