/*  ---- Table formatting ---- */
table.write365-table {

}

table.write365-table tr {

}

table.write365-table td, table.write365-table th {

}


/* table.write365-table header */
table.write365-table thead {
    background-color: none;
}

table.write365-table thead tr {
    background-color: #CB5C20 !important;
    color: #ffffff !important;

}

table.write365-table thead tr th {
    text-align: center;
    vertical-align: middle;
    font-weight: normal;
    border-top: none;

}
table.write365-table thead tr th:first-child{
    border-radius: 12px 0px 0px 0px;
}
table.write365-table thead tr th:last-child{
    border-radius: 0px 12px 0px 0px;
}
table.write365-table thead tr th a {
    color: #ffffff !important;
    text-decoration: none;
}


/* table.write365-table body */
table.write365-table tbody {

}

table.write365-table tbody tr {

}

table.write365-table tbody tr td {

}

table.write365-table tbody tr td
{
    text-align: center;
    vertical-align: middle;
}
/* ---- fonts, header, text ---- */
.section-header{
    border-bottom: 2px solid #CB5C20;
    color: #CB5C20;
}

/* ---- Buttons, Links ---- */
a div.btn{
    color: #CB5C20;
}

a div.btn:hover{
    color: #CB5C20;
    text-decoration: underline;
}